import com.apollographql.apollo3.gradle.api.ApolloExtension

buildscript {
  repositories {
    maven {
      url = uri("../../../../build/localMaven")
    }
    mavenCentral()
    google()
  }
  dependencies {
    // ADD BUILDSCRIPT DEPENDENCIES HERE
  }
}

// ADD PLUGINS HERE
// apply plugin: 'com.android.library'
// apply plugin: 'com.apollographql.apollo3'

repositories {
  maven {
    url = uri("../../../../build/localMaven")
  }
  mavenCentral()
  google() // for aapt2
}

dependencies {
  // ADD DEPENDENCIES HERE
  add("implementation", libs.jetbrains.annotations)
  add("implementation", libs.apollo.api)
}

// ADD ANDROID CONFIGURATION HERE
// android {
//   compileSdkVersion androidConfig.compileSdkVersion
// }

// ADD APOLLO CONFIGURATION HERE

