.gradle
/.idea
*.iml
build
local.properties
/reports
node_modules/
generated

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
docs/public/*
!docs/public/_redirects
.deploy*/
docs.json
package-lock.json
**/.project
.vscode/**
**/bin
