.gradle
**/.idea/.name
**/.idea/*.xml
**/.idea/caches/
**/.idea/copyright/
**/.idea/inspectionProfiles/
**/.idea/libraries/
**/.idea/$PRODUCT_WORKSPACE_FILE$
**/.idea/.gitignore
**/.idea/artifacts/
**/.idea/sonarlint/
*.iml
build
local.properties
/reports
generated

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
docs/public/*
!docs/public/_redirects
.deploy*/
docs.json
package-lock.json
**/.project
.vscode/**
**/bin
.sqldelight

# Local Netlify folder
.netlify