language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.1
    - android-25
  licenses:
    - 'android-sdk-license-.+'

jdk:
  - oraclejdk8

script:
  - ./gradlew clean check --stacktrace

branches:
  except:
    - gh-pages

sudo: false

cache:
  directories:
    - $HOME/.gradle
