import com.apollographql.apollo3.gradle.api.ApolloExtension

buildscript {
  apply("../../../gradle/dependencies.gradle")

  val classpathDep = {artifact: String ->
    (extra["dep"] as Map<String, *>)[artifact]!!
  }

  repositories {
    maven {
      url = uri("../../../build/localMaven")
    }
    mavenCentral()
    google()
  }
  dependencies {
    // ADD BUILDSCRIPT DEPENDENCIES HERE
  }
}

fun kotlinDep(artifact: String): Any {
  return (extra["dep"] as Map<String, *>)[artifact]!!
}

// ADD PLUGINS HERE
// apply plugin: 'com.android.library'
// apply plugin: 'com.apollographql.apollo3'

repositories {
  maven {
    url = uri("../../../build/localMaven")
  }
  mavenCentral()
  google() // for aapt2
}

dependencies {
  // ADD DEPENDENCIES HERE
  add("implementation", kotlinDep("jetbrainsAnnotations"))
  add("implementation", kotlinDep("apolloApi"))
}

// ADD ANDROID CONFIGURATION HERE
// android {
//   compileSdkVersion androidConfig.compileSdkVersion
// }

// ADD APOLLO CONFIGURATION HERE

