buildscript {
  apply from: "../../../gradle/dependencies.gradle"

  repositories {
    maven {
      url = uri("../../../build/localMaven")
    }
    google()
    mavenCentral()
  }
  dependencies {
    // ADD BUILDSCRIPT DEPENDENCIES HERE
    // classpath(dep.androidPlugin)
    // classpath(dep.apolloPlugin)
  }
}

// ADD PLUGINS HERE
// apply plugin: 'com.android.library'
// apply plugin: 'com.apollographql.apollo3'

repositories {
  maven {
    url = uri("../../../build/localMaven")
  }
  google() // for aapt2
  mavenCentral() // for jetbrainsAnnotations, depended on by apolloApi
}

dependencies {
  // ADD DEPENDENCIES HERE
  implementation dep.jetbrainsAnnotations
  implementation dep.apollo.api
}

// ADD ANDROID CONFIGURATION HERE
// android {
//   compileSdkVersion androidConfig.compileSdkVersion
// }

// ADD APOLLO CONFIGURATION HERE
