name: CI

on:
  push:
    branches: [ main, dev-3.x ]
    tags:
      - '*'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: |
          ulimit -c unlimited
          ./scripts/ci.sh

        env: # Or as an environment variable
          SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PRIVATE_KEY_PASSWORD: ${{ secrets.GPG_PRIVATE_KEY_PASSWORD }}
          COM_APOLLOGRAPHQL_PROFILE_ID: ${{ secrets.COM_APOLLOGRAPHQL_PROFILE_ID }}
      - uses: actions/upload-artifact@v2.2.4
        if: always()
        with:
          name: crashes
          path: /Users/runner/Library/Logs/DiagnosticReports/
  gh-pages:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/dev-3.x' }}
    steps:
      - uses: actions/checkout@v2
      - name: Build Kdoc
        run: ./gradlew dokkaHtmlMultiModule
      - name: Deploy Kdoc to github pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: build/dokkaHtml # The folder the action should deploy.
