name: pr

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

# Cancel any current or previous job from the same PR
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  tests-gradle:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28 #v3
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 #v3
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee #v2.1.4
      - name: Build with Gradle
        run: |
          ulimit -c unlimited
          # Workaround an issue where kotlinNpmInstall outputs
          # 'Resolving NPM dependencies using yarn' returns 137
          ./gradlew compileKotlinJs
          ./gradlew --stop
          ./gradlew ciTestsGradle
      - name: Collect Diagnostics
        if: always()
        run: ./scripts/collect-diagnostics.main.kts
      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3
        if: always()
        with:
          name: tests-gradle.zip
          path: diagnostics.zip

  tests-no-gradle:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28 #v3
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 #v3
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee #v2.1.4
      - name: Build with Gradle
        run: |
          ulimit -c unlimited
          # Workaround an issue where kotlinNpmInstall outputs
          # 'Resolving NPM dependencies using yarn' returns 137
          ./gradlew compileKotlinJs --stacktrace 
          ./gradlew --stop
          ./gradlew ciTestsNoGradle --stacktrace 
      - name: Collect Diagnostics
        if: always()
        run: ./scripts/collect-diagnostics.main.kts
      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3
        if: always()
        with:
          name: tests-no-gradle.zip
          path: diagnostics.zip

  tests-integration:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28 #v3
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 #v3
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: gradle/gradle-build-action@aab26ac684526c7cb10f96e3c3734bbc51749736 #v2
      - name: Build with Gradle
        run: |
          ulimit -c unlimited
          # Workaround an issue where kotlinNpmInstall outputs
          # 'Resolving NPM dependencies using yarn' returns 137
          ./gradlew compileKotlinJs
          ./gradlew --stop
          ./gradlew -p tests ciBuild
      - name: Collect Diagnostics
        if: always()
        run: ./scripts/collect-diagnostics.main.kts
      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3
        if: always()
        with:
          name: tests-integration.zip
          path: diagnostics.zip
