name: push

on:
  push:
    branches:
      - main
      - release-3.x
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  deploy:
    runs-on: macos-latest
    if: github.repository == 'apollographql/apollo-kotlin'
    steps:
      - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28 #v3
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 #v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee #v2.1.4
      - name: Build with Gradle
        run: |
          ulimit -c unlimited
          # Workaround an issue where kotlinNpmInstall outputs
          # 'Resolving NPM dependencies using yarn' returns 137
          ./gradlew --no-build-cache compileKotlinJs
          ./gradlew --stop
          ./gradlew --no-build-cache ciBuild
          ./gradlew --stop
          ./gradlew --no-build-cache -p tests ciBuild
          ./gradlew --no-build-cache dokkaHtmlMultiModule
          ./gradlew --no-build-cache ciPublishSnapshot
        env:
          SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          COM_APOLLOGRAPHQL_PROFILE_ID: ${{ secrets.COM_APOLLOGRAPHQL_PROFILE_ID }}
      - name: Collect Diagnostics
        if: always()
        run: ./scripts/collect-diagnostics.main.kts
      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3
        if: always()
        with:
          name: push.zip
          path: diagnostics.zip
